$small-screen: 350px
$medium-screen: 700px

// @mixin thumb($image)
//   width: 30%
//   float: left
//   margin: 1.66%
//   background-image: url($image)











img
	width: 30%
	float: left
	margin: 1.66%
  // display: inline-block

@media (max-width: $medium-screen) 
  img
  	width:  42.8571429%
  	margin: 3.57142855%

@media (max-width: $small-screen) 
  img
  	width:  88%
  	margin: 6%
