$small-screen: 350px
$medium-screen: 700px




img
	width: 30%
	float: left
	margin: 1.66%

@media (max-width: $medium-screen) 
  html 
  	img
  		width:  42.8571429%
  		margin: 3.57142855%

@media (max-width: $small-screen) 
  html 
  	img
  		width:  88%
  		margin: 6%
